.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    color: #215c5b;
}
#catalog{
    background: #ffffff;
    padding-top: 100px;
}

#catalog select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #eeffff;
    color: #3aafa9;
    cursor: pointer;
    margin-left: 120px;
}