.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background: rgb(239,254,253);
    background: linear-gradient(62deg, rgba(239,254,253,1) 0%, rgba(255,255,255,1) 100%);
    color: #215c5b;
}
/*rgba(255,230,154,1)*/
.gallery-cards{
    border-radius: 10px;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #e1f6f5;

}