.login-overlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(72, 68, 68, 0.92);
    z-index: 1000;
    transition: top 0.5s;
}

.form-container{
    border: none;
    display: flex;
    flex-direction: column;
    background: #e1f6f5;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}


.login-overlay form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 30px;
}

form button{
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    outline: none;
    width: auto;
    height: auto;
    padding: 6px 13px 6px 13px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #3aafa9;
    color: #fff;
}

.form-container input{
    border: none;
    padding-left: 7px;
}

.close-button{
    width: 50px;
    height: 25px;
    background-color: #ffffff;
    border: 1px solid #f84040;
    color: #f84040;
    font-weight: 100;
    border-radius: 4px;
    padding-bottom: 5px;
    position: relative;
    left: 84%;
    top: 0;
    cursor: pointer;
}

.close-button:hover{
    background-color: #f84040;
    color: #ffffff;
}

form h2{
    margin-bottom: 10px;
}

form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
form button:hover,
form button:focus{
    background-color: #1b3a39;
}